/*
 * arch/arm/boot/dts/axm5516-amarillo.dts
 *
 * Copyright (C) 2013 LSI
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;

/memreserve/ 0x00000000 0x00400000;

#include "axm55xx.dtsi"
#include "axm5516-cpus.dtsi"

/ {
	model = "Amarillo AXM5516";
	compatible = "lsi,axm5516-amarillo", "lsi,axm5516";

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0x02 0x00000000>;
	};
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";
};

&serial2 {
	status = "okay";
};

&serial3 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spics {
	status = "okay";
};

&spi0 {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "s25fl129p1";
		reg = <0x0>;
		spi-max-frequency = <25000000>;
		pl022,com-mode = <0>;

		partition@0 {
			label = "spl";
			reg = <0x0 0x40000>;
		};
		partition@40000 {
			label = "parameters";
			reg = <0x40000 0x10000>;
		};
		partition@60000 {
			label = "env1";
			reg = <0x60000 0x10000>;
		};
		partition@70000 {
			label = "env2";
			reg = <0x70000 0x10000>;
		};
		partition@100000 {
			label = "u-boot";
			reg = <0x100000 0x200000>;
		};
	};
};

&femac {
	status = "okay";
	phy-handle = <&phy0>;
};

&mdio {
	status = "okay";
	lsi,mdio-clk-offset = <0x10>;
	lsi,mdio-clk-period = <0x2c>;

	phy0: ethernet-phy@1e {
		reg = <0x1e>;
	};
};
